/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Login Form Styles */
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;
    margin: 50px auto;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 50%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ddd;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Product List Styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 8px 16px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background-color: #e68900;
  }
  
  /* Shopping Cart Styles */
  #shoppingCart {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 30px auto;
    width: 50%;
    max-width: 600px;
  }
  
  #shoppingCart h2 {
    margin-bottom: 20px;
  }
  
  #shoppingCart ul {
    list-style-type: none;
    padding: 0;
  }
  
  #shoppingCart li {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  
  #shoppingCart button {
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #shoppingCart button:hover {
    background-color: #e31c1c;
  }
  
  /* Container Styles */
  .container {
    padding: 20px;
  }
  
  